.MainContainer{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    place-content: center;

}

.from-container.buyerData h1{
    color:#fc5130;
}

.from-container.sellerData h1{
    color:#9d21a1;
}

.from-container.contractData h1{
    color:#58a121;
}

.from-container.vehicleData h1{
    color: #a14d21;
}

.from-container{
    min-width: auto;
    height: auto;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    padding: 20px;
    gap: 15px;
}

.title-from-container{
    text-align: center;
}

.h1-title-from{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.from-questions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    font-style: oblique;
    color: gray;
    gap: 10px;
}

.contractData.from-questions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px 0 20px 0;
    gap: 10px;
}

.vehicleData.from-questions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px 0 20px 0;
    gap: 10px;
}

.agreement{
    grid-column: 1 / 3;
    grid-row: 1 / 2 ;
    display: flex;
    align-items: center;
}

.names{
    grid-column: 1 / 3;
    grid-row: 2 / 3 ;
}

.surname{
    grid-column: 1 / 2;

}

.secondSurname{
    grid-column: 2 / 3;
    grid-row: 3 / 4 ;
}

.address{
    grid-column: 1 / 2;
    grid-row: 4 / 5 ;
}

.buyerData.city,
.sellerData.city{
    grid-column: 2 / 3;
    grid-row: 4 / 5 ;
}

.phone{
    grid-column: 1 / 2;
    grid-row: 5 / 6 ;
}

.input-1{
    width: 30px;
}

.input-2{
    width: 100%;
}

.input{
    margin-top: 5px;
    border-radius: 7px;
    border: solid 1px gray;
    padding: 5px;
}




.button-from-container{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: #5cc12f;
    color: white;
    font-weight: bold;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

}



