.UserPath{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: 30px;
}

.user-path-check{
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 20px;
}

h4{
    font-size: 30px;
}