.UserData{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    padding: 50px;
}

.container-user-info{
    display: flex;
    background-color: white;
    color: gray;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 18px;
}


.title-info{
    font-weight: bold;
}