.Header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
}

.logo-header{
    justify-self: start;
    display: flex;
    margin-left: 90px;
    font-size: 30px;
    gap: 20px;
    align-items:flex-start;
    
}

.title{
    color: #2f97c1;
}

.slogan{
    margin-left: 60px;
    color: #fc5130;
    border-bottom: solid 0.5px 2f97c1;
}

.user-login{
    justify-self: end;
    display: flex;
    margin-right: 50px;
    color: white;
    align-items: center;
    gap: 10px;
}

.name-user{
    font-size: 20px;
    font-style: oblique;
}

.button-user{
    background-color: #001e38;
    border: none;
}