.NavBar{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: flex-end;
    padding-left: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.button-nav-bar{
    width: 150px;
    background-color: #fc5130;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 15px;
}