@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Raleway:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

#root{
    width: 90%;
    background-color: #001e38;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    font-family: 'Didact Gothic', 'Raleway', sans-serif;
}

button{
    font-family: 'Didact Gothic', 'Raleway', sans-serif;
}

input{
    font-family: 'Didact Gothic', 'Raleway', sans-serif;
}
